name: Projeto Portifolio Pessoal - API

on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      API_BASE_URL: 'http://localhost:3000'
      PORT: 4000

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Instalando as dependências
        run: npm install

      - name: Iniciar o servidor de aplicação API
        run: |
          node app.js &    
          sleep 5         

      - name: Executar os testes da api com mocha
        run: npm test
